body,h1,h2,h3,h4,h5,h6,p,div,span,tr,td,table,tbody,thead,b,hr,section,head,header{
    margin: 0;
    padding: 0;
}
.wrapper {
    border: 1px solid #000;
}
.triangles{
    margin: 5px;
    border: 1px solid #000;
    display: flex;
}
.triangle_up_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_up {
    width: 0;
    height: 0;
    margin: 5px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
.triangle_down_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_down {
    width: 0;
    height: 0;
    margin: 5px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
.triangle_left_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_left {
    width: 0;
    height: 0;
    margin: 5px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid red;
}
.triangle_right_block {
    margin: 5px;
    width: 120px;
    border: 1px solid #000;
}
.triangle_right{
    width: 0;
    height: 0;
    margin: 5px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid red;
}
.triangle_top_left_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_top_left {
    width: 0;
    height: 0;
    margin: 5px;
    border-top: 100px solid red;
    border-right: 100px solid #ff000000;
}
.triangle_top_right_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_top_right {
    width: 0;
    height: 0;
    margin: 5px;
    border-top: 100px solid red;
    border-left: 100px solid #ff000000;
}
.triangle_bottom_right_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_bottom_right {
    width: 0;
    height: 0;
    margin: 5px;
    border-bottom: 100px solid red;
    border-left: 100px solid #ff000000;
}
.triangle_bottom_left_block {
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.triangle_bottom_left {
    width: 0;
    height: 0;
    margin: 5px;
    border-bottom: 100px solid red;
    border-right: 100px solid #ff000000;
}
.rectangles {
    margin: 5px;
    border: 1px solid #000;
    display: flex;
}
/* Square */
.square_block{
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.square{
    width: 100px;
    height: 100px;
    background: red;
    margin: 5px;
}
/* Rectangle */
.rectangle_block{
    width: 160px;
    margin: 5px;
    border: 1px solid #000;
}
.rectangle{
    width: 150px;
    height: 100px;
    background: red;
    margin: 5px;
}
/* Circle */
.circles{
    margin: 5px;
    border: 1px solid #000;
    display: flex;
}
.circle_block{
    width: 120px;
    margin: 5px;
    border: 1px solid #000;
}
.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    margin: 5px;
}
.oval_block {
    width: 200px;
    margin: 5px;
    border: 1px solid #000;
}
.oval{
    width: 180px;
    height: 90px;
    background: red;
    border-radius: 50%;
    margin: 5px;
}
.trapezas{
    margin: 5px;
    border: 1px solid #000;
    display: flex;
}
.trapeza_block{
    width: 170px;
    margin: 5px;
    border: 1px solid #000;
}
.trapeza {
    border-bottom: 100px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    margin: 5px;
}
.parleogramus {
    margin: 5px;
    border: 1px solid #000;
    display: flex;
}
.parleogram_block {
    width: 180px;
    margin: 5px;
    border: 1px solid #000;
}
.parleogram {
    width: 100px;
    height: 100px;
    background: red;
    transform: skew(-20deg);
    margin: 5px 25px;
}
.stars{
    margin: 5px;
    border: 1px solid #000;
    display: flex;
}
.star_six_points_block {
    width: 200px;
    margin: 5px;
    border: 1px solid #000;
}
.star_six_points{
    position: relative;
    width: 0;
    height: 0;
    margin: 15px 5px;
    border-top: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.star_six_points::after{
    position: absolute;
    width: 0;
    height: 0;
    margin: 5px;
    border-bottom: 97px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: '';
    top: -120px;
    left: -53px;
}
.star_five_points_block {
    border: 1px solid #000;
    margin: 5px;
    width: 250px;
}
.star_five_points {
    margin: 40px auto;
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 130px solid red;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}
.star_five_points::after {
    content: ' ';
    position: absolute;
    margin: 10px;
    width: 0;
    right: -90px;
    height: 0;
    top: 20px;
    border-top: 100px solid red;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}
.star_five_points::before {
    content: ' ';
    position: absolute;
    margin: 10px;
    width: 0;
    right: -90px;
    height: 0;
    top: 90px;
    z-index: 1;
    border-bottom: 30px solid white;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}
.pentagones {
    margin: 5px;
    display: flex;
    border: 1px solid #000;
}
.pentagon_block {
    margin: 10px;
    border: 1px solid #000;
    width: 200px;
}
.pentagon {
    margin: 50px auto 10px auto;
    position: relative;
    width: 80px;
    border-width: 70px 20px 0;
    border-style: solid;
    border-color: red transparent;
}
.pentagon::before {
    position: absolute;
    content: " ";
    width: 0;
    left: -20px;
    top: -110px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 40px solid red;
}
.hexagones {
    margin: 5px;
    display: flex;
    border: 1px solid #000;
}