body,h1,h2,h3,h4,h5,h6,p,div,span,tr,td,table,tbody,thead,b,hr,section,head,header{
    margin: 0;
    padding: 0;
}
.wrapper {
    border: 1px solid #000;
}
.triangles_block{
    margin: 5px;
    border: 1px solid #000;
}